.content{
    align-items: flex-start;
    justify-content: flex-start;
}


.content-title{
    font-size: clamp(1.25rem, 1.25vw, 1.25vw);
    font-weight: bold;
    text-transform: uppercase;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;  
}



.content-subtitle{
    font-size: larger;
}

.content-mosogep-img{
    width: auto;
    height: 250px;
}

.content-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-p{
    margin-bottom: .9rem;
}

.content-link{
    color: #0000ff;
    font-size: medium;
    text-align: center; 
}

.content-small-size{
    font-size: xx-small;
}

.ind_panel_jpg{
    width: 150px;
    height: auto;
}

.content-center{
    padding: 1rem;
}

.content-eszkozok-img {
    display: flex;
    flex-wrap: wrap;
  }
  
  .vez_panel1_img,
  .vez_panel3_img{
    max-width: 240px;
    height: auto;
    padding-top: 3rem;

  }

  .underline{
    text-decoration: underline;
  }
  
  @media (max-width: 1000px) {
    .content-eszkozok-img {
      flex-direction: column;
    }
  }



