.content{
    align-items: flex-start;
    justify-content: flex-start;
}


.content-title{
    font-size: clamp(1.25rem, 1.25vw, 1.25vw);
    font-weight: bold;
    text-transform: uppercase;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;  
}



.content-subtitle{
    font-size: larger;
}

.content-mosogep-img{
    width: auto;
    height: 250px;
}

.content-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content-p{
    margin-bottom: .9rem;
}

.content-link{
    color: #0000ff;
    font-size: medium;
    text-align: center; 
}

.content-small-size{
    font-size: xx-small;
}

.munkatarsak_img{
    align-items: center;
    justify-content: center;
    width: 270px;
    height: auto;
}

.content-eszkozok-img {
    display: flex;
    flex-wrap: wrap;
  }
  
  .porszivo_img,
  .mikro2_jpg,
  .delonghi_img {
    max-width: 200px;
    height: auto;
  }
  
  @media (max-width: 1000px) {
    .content-eszkozok-img {
      flex-direction: column;
    }
  }
  



